body {
    background-color: black;
}

header {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
    color: black;
    font-family: papyrus, 'Times New Roman', serif;
    font-size: 40px;
}

nav {
    background-color: black;
    padding: 8px;
    text-align: center;
    margin-bottom: 0px;
}

nav div {
    display: inline;
}

nav div a {
    text-align:center;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'Times New Roman', sans-serif;
    margin-left: auto;
    margin-right: 35px;
}

nav div a img {
    height: 50px;
}

section div {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}

section div h1 {
    color: brown;
    text-align: center;
    font-size: 40px;
}

section div p {
    margin: 4px;
    text-align: justify;
    font-size: 30px;
}

.Link {
    text-align: center;
    font-size: 30px;
}

.Products {
    background-color: aliceblue;
}

.Products h1 {
    text-align: center;
    color: red;
    text-decoration: solid;
}

.Product h2{
    text-align: center;
}

.Tags {
    display: inline-block;
    margin: auto;
}

.Tag {
    border-radius: 25px;
    padding: 5px;
    background-color: red;
    color: aliceblue;
}