body {
    background-color: black;
}

header h1 {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 35px;
    text-align: center;
    background-color: darkred;
    color: black;
    font-family: papyrus, 'Times New Roman', serif;
    font-size: 40px;
}

nav {
    background-color: aliceblue;
    padding: 8px;
    text-align: center;
}

nav div {
    display: inline;
}

nav div a{
    background-color: navy;
    text-align:center;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
    font-family: 'Times New Roman', sans-serif;
    border-style: double;
    margin-left: auto;
    margin-right: 5px;
}

section div {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

section div h1 {
    color: brown;
    text-align: center;
    font-size: 40px;
}

section div p {
    text-align: justify;
    font-size: 30px;
}

.link {
    text-align: center;
    font-size: 30px;
}